*.[oa]
*~
*.html
*Editorial*/
Problems - Codeforces.*
Problems - Codeforces_files/
*.exe
input.txt
output.txt
Test.txt
exercise/test.cpp
acmicpc/Problems/
test.cpp
*.out
*.manifest
.vscode/settings.json